/* css */

.ogtop {
    width: 100%;
}

.ogbanner {
    margin-top: 50px;
    width:100%;

}


.ogclothes {
    margin-top: 60px; 
    width: 100%;
}

.hoverbutton {

    margin-left: 400;
    margin-top: 150;
    color:blue;
    width: 132px;
    height: 27px;
    position:unset;
}
  
.text-block {
    position: absolute;
    top: 500px;
    left: 540px;
    padding-left: 80px;
    padding-right: 130px;
    padding-top: 20px;
    padding-bottom: 100px;
   

}

  
